:root {
  --color-primary-java: hsl(172, 67%, 45%);

  --color-neutral-sherpa: hsl(183, 100%, 15%);
  --color-neutral-cutty: hsl(186, 14%, 43%);
  --color-neutral-granny: hsl(186, 14%, 56%);
  --color-neutral-ice: hsl(185, 41%, 84%);
  --color-neutral-catskill: hsl(180, 37%, 97%);

  --color-white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

:is(html, body) {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--color-neutral-ice);
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
}

label {
  display: block;
}

input[type="number"] {
  text-align: right;
}


h1 {
  margin-block: 0 5rem;
  line-height: 1;
}

h1 svg {
  display: block;
  margin-inline: auto;
}


.splitter {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 50rem;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 1rem 2rem hsla(183, 100%, 15%, .2);
}

@media (min-width: 35rem) {
  .splitter {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}


label,
legend {
  color: var(--color-neutral-cutty);
  font-size: 1rem;
}

input[type='number'] {
  width: 100%;
  background-color: var(--color-neutral-catskill);
  border-radius: 4px;
  border: 0;
  color: var(--color-neutral-sherpa);
  font-size: 1.5rem;
}


fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.tip-options {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: .75rem;
}


.radio input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

.radio__faux {
  display: block;
  width: 100%;
  padding: .6rem;
  background-color: var(--color-neutral-sherpa);
  border-radius: 4px;
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition:
    background-color .15s,
    color .15s;
}

.radio input:checked + .radio__element .radio__faux {
  background-color: var(--color-primary-java);
  color: var(--color-neutral-sherpa);
}


.custom-tip input {
  max-width: 100%;
  height: 100%;
  background-color: #eee;
  border-radius: 4px;
  border: 0;
  text-align: center;
  box-shadow: none;
}

/* TODO Add floating label functionality */
.custom-tip label {
  height: 0;
  overflow: visible;
  font-size: 1.25rem;
  font-weight: 700;
  transform: scale(1) translate(.75rem, .65rem);
  transition: transform .25s;
}


.splitter__totals {
  padding: 2rem;
  background-color: var(--color-neutral-sherpa);
  border-radius: 15px;
  color: var(--color-white);
}

.splitter__totals > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.total__label::after {
  content: '/ person';
  display: block;
  font-size: .75rem;
}

.total__value {
  color: var(--color-primary-java);
  font-size: 2rem;
  font-weight: 700;
}


.tip-reset {
  display: block;
  width: 100%;
}
